.content{
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.header{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.fieldBox{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    margin: 10px;
}

.fieldLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
}

.field{
    width: 100%;
    padding: 5px;
}

.textInput{
    width: 100%;
}

.bottomButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomButton{
    width: 200px;
    margin: 10px;
    margin-top: 30px;
    font-size: 20px;
}
