.MainLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}@media screen and (max-width: 600px) {
    .MainLayout {
        padding: 0px;
    }
}


.homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.createButton{
    margin: 10px;
    color: white;
    background-color: var(--main-blue);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease,
                box-shadow 0.3s ease;
}

.createButton:hover{
    background-color: var(--dark-main-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}