.NavBar{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin-bottom: 20px;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .NavBar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 100%;

        padding: 0px;
    }
}

.links{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 0.7rem 0.6rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-height: 70px;
    height: fit-content;
    
    margin-left: 5;
    padding: 0px 10px 0px 10px;
}@media screen and (max-width: 400px) {
    .links {
        flex-wrap: wrap;
        margin: 0;
    }
}

.link{
    color: var(--main-blue);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;

    padding: 10px;
    margin: 0px 10px 0px 10px;

    background-color: white;
    transition: background-color ease 0.5s,
}
.link:hover{
    background-color: lightgray;
}

.logo{
    width: 80px;
    height: 80px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}



.topBoxText{
    margin: 5px;
    text-align: center;
    font-weight: bold;
}




.LoginBox{
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 0.7rem 0.6rem rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.standardTextBox{
    margin: 5px;
}


.passwordContainer{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.loginButton{
    margin: 5px;
    margin-bottom: 10px;
}

.loginLink{
    text-align: center;
    margin: 5px;
}